<style>
    body {
        height: 800px;
        background: url("2.png");
        background-size: cover;
        background-size:50%;
        background-repeat: no-repeat;
        background-position:  left bottom;
        background-attachment: fixed;
        background-color: #c6d8ff;
    }
</style>


<br>
<br>
<center><h1 style="font-family:copperplate; color:#0D1E96" class="mb-4">LOGIN</h1></center>

<div class="row justify-content-md-center">
    <div class="col-md-4">
        {{#if message}}
            <div class="alert {{messageClass}}">
                {{message}}
            </div>
        {{/if}}
        <form action="/login" method="POST">
            <div class="form-group" style="font-family:courier new ;color:#0D1E96; font-weight: bold" >
                Email
                <input type="text" name="email" id="" class="form-control" placeholder="nombre@example.com" style="background-color:#F5F6FF; color:#0D1E96" required>
            </div>
            <br>
            <div class="form-group" style="font-family:courier new; color:#0D1E96; font-weight: bold">
                Password
                <input type="password" name="password" id="" class="form-control" placeholder="Password" style="background-color:#F5F6FF; color:#0D1E96" required>
            </div>
            <br>
            <center><button type="submit" class="btn btn-lg" style="font-family:optima; background-color:#FF6D00; color:#ffffff">Login</button></center>
        </form>
    </div>
</div>
