<style>
    body {
        background: url("2.png");
        background-size: cover;
        background-size:100%;
        background-repeat: no-repeat;
        background-position:  left bottom;
        background-attachment: fixed;
        background-color: #c6d8ff;
        position:static;
    }
    
    .contenedor-icono svg{
    width: 50px;
    height: 50px;
    color: #2d75e0;
    }
    .contenedor-icono1 svg{
    width: 50px;
    height: 50px;
    color: #FF6D00;
    }

</style>
<br>
<br>

<div class="content contenedor-icono1">
   <a type="button"  href="/" style=" margin-top:10px; margin-left:50px; border-radius:50px;" class="btn btn-default btn-circle btn-xl"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg></a>  
<br>
<center><h1 style="font-family: 'Cuprum', sans-serif; color:#0D1E96 " class="mb-4">REGISTRAR USUARIO</h1></center>

<div class="row justify-content-md-center">
    <div class="col-md-4">
        {{#if message}}
            <div class="alert {{messageClass}}">
                {{message}}
            </div>
        {{/if}}
        <form action="/register" method="POST">
            <div class="form-group" style="font-family: 'Cuprum', sans-serif;color:#0D1E96; font-weight: bold">
                Nombre de Usuario
                <input type="text" name="fullName" id="" class="form-control" placeholder="Nombre de Usuario" style="background-color:#F5F6FF ;color:#0D1E96" required>
            </div>
            <br>
            <div class="form-group" style="font-family: 'Cuprum', sans-serif; color:#0D1E96; font-weight: bold">
                Email
                <input type="email" name="email" id="" class="form-control" placeholder="nombre@example.com" style="background-color:#F5F6FF;  color:#0D1E96" required>
            </div>
            <br>
            <div class="form-group" style="font-family: 'Cuprum', sans-serif; color:#0D1E96; font-weight: bold">
                Password
                <input type="password" name="password" id="" class="form-control" placeholder="****" style="background-color:#F5F6FF;  color:#0D1E96" required>
            </div>
            <br>
            <div class="form-group" style="font-family: 'Cuprum', sans-serif; color:#0D1E96; font-weight: bold">
                Confirm Password
                <input type="password" minlength="8" maxlength="16" name="confirmPassword" id="" class="form-control" placeholder="****" style="background-color:#F5F6FF; border-color:#FFFFFF; color:#0D1E96" required>
            </div>
            <br>
            <center><button type="submit" class="btn btn-lg" style="font-family: 'Cuprum', sans-serif; background-color:#FF6D00; color:#FFFFFF">Registrar</button></center>
        </form>
    </div>
</div>